
  
  .login-container {
    width: 300px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
  }
  
  .form-control {
    border-radius: 0;
    margin-bottom: 10px;
  }
  
  .btn-primary {
    border-radius: 0;
  }
   